<div class="col-xl-8 col-xl-offset-2 col-xs-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/checkout">Powrót do sprawdzenia zamówienia</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ @root.__ "Pay now" }}</li>
        </ol>
    </nav>
    <div class="row">
        {{#if paymentMessage}}
            <p class="text-danger text-center">{{paymentMessage}}</p>
        {{/if}}
        <div class="col-md-5">
            <div class="panel panel-default" style="margin-top: 30px;">
                <div class="panel-heading">{{ @root.__ "Customer details" }}</div>
                {{#unless session.customer}}
                <div class="panel-body customer-details-login">
                    <p>{{ @root.__ "Existing customer" }}</p>
                    <div class="form-group">
                        <input type="email" class="form-control" id="customerLoginEmail" name="loginEmail" minlength="5" placeholder="Podaj adres e - mail" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="customerLoginPassword" name="loginPassword" minlength="5" placeholder="Podaj hasło" required>
                    </div>
                    <div class="form-group">
                        <a href="/customer/forgotten" class="btn btn-default pull-left">{{ @root.__ "Forgotten" }}</a>
                    </div>
                    <div class="form-group">
                        <a href="/customer/forgotten" class="btn btn-default pull-right">Loguj się</a>
                    </div>
                </div>
                {{/unless}}
                <div class="panel-body customer-details">
                    {{#if session.customer}}
                    <div class="col-xs-12 col-md-12">
                        <button id="customerLogout" class="btn btn-sm btn-success pull-right">{{ @root.__ "Change customer" }}</button>
                    </div>
                    {{/if}}
                    {{#if session.customer}}
                    {{#ifCond config.paymentGateway '==' 'stripe'}}
                        {{> partials/payments/pay}}
                    {{/ifCond}}
                    {{#ifCond config.paymentGateway '==' 'authorizenet'}}
                        {{> partials/payments/pay}}
                    {{/ifCond}}
                    {{#ifCond config.paymentGateway '==' 'adyen'}}
                        {{> partials/payments/pay}}
                    {{/ifCond}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="cart" class="col-md-7">
            {{> (getTheme 'cart')}}
        </div>
    </div>
</div>