{{> partials/menu}}
<div class="col-lg-9">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/product/update" data-toggle="validator">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">{{ @root.__ "Upload image" }}</button>
                    <button id="frm_edit_product_save" class="btn btn-success">{{ @root.__ "Save product" }} <i class="fa fa-floppy-o"></i></button>
                </div>
                <h2>{{ @root.__ "Edit product" }}</h2>
            </div>
            <div class="form-group">
                <label for="productTitle" class="col-sm-2 control-label">{{ @root.__ "Product title" }} *</label>
                <div class="col-sm-10">
                    <input type="text" name="productTitle" class="form-control" minlength="5" maxlength="200" value="{{result.productTitle}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="productPrice" class="col-sm-2 control-label">{{ @root.__ "Product price" }} *</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{currencySymbol config.currencySymbol}}</span>
                        <input type="number" name="productPrice" class="form-control" value="{{result.productPrice}}" step="any" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="productPublished" class="col-sm-2 control-label">{{ @root.__ "Status" }}</label>
                <div class="col-sm-6">
                    <select class="form-control" id="productPublished" name="productPublished">
                        <option value="true"  {{selectState result.productPublished "true"}}>{{ @root.__ "Published" }}</option>
                        <option value="false" {{selectState result.productPublished "false"}}>{{ @root.__ "Draft" }}</option>
                    </select>
                </div>
            </div>
            {{#if config.trackStock}}
            <div class="form-group">
                <label for="productStock" class="col-sm-2 control-label">{{ @root.__ "Stock level" }}</label>
                <div class="col-sm-6">
                    <input type="number" name="productStock" class="form-control" value="{{result.productStock}}" step="any" />
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">{{ @root.__ "Product description" }} *</label>
                <div class="col-sm-10">
                    <textarea id="editor" minlength="5" rows="10" id="productDescription" name="productDescription" class="form-control" required>{{result.productDescription}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Permalink</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="productPermalink" id="productPermalink" placeholder="Permalink for the article" value={{result.productPermalink}}>
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="validate_permalink" type="button">{{ @root.__ "Validate" }}</button>
                        </span>
                    </div>
                    <p class="help-block">{{ @root.__ "This sets a readable URL for the product" }}</p>
                </div>
            </div> 
  
            
            <div class="form-group">
            </div>
            <div id="product-images">
                <h2>{{ @root.__ "Product images" }}</h2>
                {{#if images}}
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                    {{#each images}}
                        <div class="col-md-3">
                            <p>
                                <a data-id="{{this.path}}" class="btn-delete-image btn btn-danger btn-sm">{{ @root.__ "Delete" }}</a>
                                {{#ifCond this.productImage '==' true}}
                                    <span class="label label-info">{{ @root.__ "main image" }}</span>
                                {{else}}
                                    <a data-id="{{../this.path}}" class="set-as-main-image btn btn-sm btn-success">{{ @root.__ "Set as main image" }}</a>
                                {{/ifCond}}
                            </p>
                            <img src="{{this.path}}" class="product-main-image img-responsive">
                        </div>
                    {{/each}}
                    </div>
                </div>
                {{else}}
                    <h4 class="text-warning">{{ @root.__ "No images have been uploaded for this product" }}</h4>
                {{/if}}
            </div>
        </div>
        <input type="hidden" name="productId" id="productId" value="{{result._id}}" />
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="uploadForm" enctype="multipart/form-data"></form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ @root.__ "Product image upload" }}</h4>
            </div>
            <div class="modal-body">
                <span class="btn btn-info btn-file">
                    {{ @root.__ "Select file" }}<input type="file" name="uploadFile" id="uploadFile" form="uploadForm">
                </span>
                <input type="hidden" id="productId" name="productId" value="{{result._id}}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="uploadButton" class="btn btn-primary">{{ @root.__ "Upload" }}</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $('#editor').summernote({
            height: 300,
            minHeight: null
        });
    });
</script>