{{> partials/menu}}
<div class="col-lg-9">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/product/insert" data-toggle="validator">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right">
                    <button id="frm_edit_product_save" class="btn btn-success" type="submit">Add product <i class="fa fa-plus"></i></button>
                </div>
                <h2>{{ @root.__ "New product" }}</h2>
            </div>
            <div class="form-group">
                <label for="productTitle" class="col-sm-2 control-label">{{ @root.__ "Product title" }} *</label>
                <div class="col-sm-10">
                    <input type="text" id="productTitle" name="productTitle" class="form-control" minlength="5" maxlength="200" value="{{productTitle}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="productPrice" class="col-sm-2 control-label">{{ @root.__ "Product price" }} *</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">PLN</span>
                        <input type="number" name="productPrice" class="form-control" step="any" value="{{productPrice}}" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="productPublished" class="col-sm-2 control-label">{{ @root.__ "Status" }}</label>
                <div class="col-sm-6">
                    <select class="form-control" id="productPublished" name="productPublished">
                        <option value="true" selected>{{ @root.__ "Published" }}</option>
                        <option value="false">{{ @root.__ "Draft" }}</option>
                    </select>
                </div>
            </div>
            {{#if config.trackStock}}
            <div class="form-group">
                <label for="productStock" class="col-sm-2 control-label">{{ @root.__ "Stock level" }}</label>
                <div class="col-sm-6">
                    <input type="number" name="productStock" class="form-control" value="{{productStock}}" step="any" />
                </div>
            </div>
            {{/if}}
            <div class="form-group" id="editor-wrapper">
                <label for="editor" class="col-sm-2 control-label">{{ @root.__ "Product description" }} *</label>
                <div class="col-sm-10">
                    <textarea id="editor" minlength="5" rows="10" name="productDescription" class="form-control" required>{{productDescription}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Permalink</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="productPermalink" id="productPermalink" placeholder="Permalink for the article" value={{productPermalink}}>
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="validate_permalink" type="button">Validate</button>
                        </span>
                    </div>
                    <p class="help-block">{{ @root.__ "This sets a readable URL for the product" }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="productComment" class="col-sm-2 control-label">{{ @root.__ "Allow comment" }}</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="productComment" type="checkbox" {{checkedState result.productComment}} id="productComment"
                                name="productComment">
                        </label>
                    </div>
                    <p class="help-block">{{ @root.__ "Allow free form comments when adding products to cart" }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="productTags" class="col-sm-2 control-label">Product tag words</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="productTags" name="productTags">
                    <p class="help-block">{{ @root.__ "Tag words used to indexed products, making them easier to find and filter." }}</p>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $('#editor').summernote({
            height: 300,
            minHeight: null
        });
    });
</script>