{{> partials/menu}}
<div class="col-lg-9">
    <div class="row">
        <div class="col-md-10">
            <form method="post" id="settingsForm" action="/admin/settings/update" data-toggle="validator">
                <h2 class="clearfix">{{ @root.__ "General settings" }}
                    <div class="pull-right">
                    <button type="submit" id="btnSettingsUpdate" class="btn btn-success">{{ @root.__ "Update" }}</button>
                </h2>
                <div class="form-group">
                    <label>{{ @root.__ "Cart name" }} *</label>
                    <input type="text" class="form-control" name="cartTitle" value="{{config.cartTitle}}" required>
                    <p class="help-block">
                        {{ @root.__ "This element is critical for search engine optimisation. Cart title is displayed if your logo is hidden." }}
                    </p>
                </div>
				
                <div class="form-group">
                    <label>{{ @root.__ "Cart description" }} *</label>
                    <input type="text" class="form-control" name="cartDescription" value="{{config.cartDescription}}" required>
                    <p class="help-block">{{ @root.__ "This description shows when your website is listed in search engine results." }}</p>
                </div>
				

				
                <div class="form-group">
                    <label>{{ @root.__ "Cart URL" }} *</label>
                    <input type="text" class="form-control" name="baseUrl" value="{{config.baseUrl}}" required>
                    <p class="help-block">{{ @root.__ "This URL is used in sitemaps and when your customer returns from completing their payment." }}</p>
                </div>
				
                <div class="form-group">
                    <label>{{ @root.__ "Cart Email" }} *</label>
                    <input type="email" class="form-control" name="emailAddress" value="{{config.emailAddress}}" required>
                    <p class="help-block">{{ @root.__ "This is used as the \"from\" email when sending receipts to your customers." }}</p>
                </div>
				
                <div class="form-group">
                    <label>{{ @root.__ "Flat shipping rate" }} *</label>
                    <input type="text" class="form-control" name="flatShipping" value="{{config.flatShipping}}" required>
                    <p class="help-block">{{ @root.__ "A flat shipping rate applied to all orders." }}</p>
                </div>
				
                <div class="form-group">
                    <label>{{ @root.__ "Free shipping threshold" }}</label>
                    <input type="text" class="form-control" name="freeShippingAmount" value="{{config.freeShippingAmount}}">
                    <p class="help-block">{{ @root.__ "Orders over this value will mean the shipped will the FREE. Set to high value if you always want to charge shipping." }}</p>
                </div>
				


                <div class="form-group">
                    <label>{{ @root.__ "Products per row" }}</label>
                    <select class="form-control" name="productsPerRow">
                        <option value="{{config.productsPerRow}}" hidden="hidden" selected="selected">{{config.productsPerRow}}</option>
                        <option {{selectState '1' config.productsPerRow}}>1</option>
                        <option {{selectState '2' config.productsPerRow}}>2</option>
                        <option {{selectState '3' config.productsPerRow}}>3</option>
                        <option {{selectState '4' config.productsPerRow}}>4</option>
                    </select>
                    <p class="help-block">{{ @root.__ "The number of products to be displayed across the page." }}</p>
                </div>
				

                <div class="form-group">
                    <label>{{ @root.__ "Products per page" }}</label>
                    <input type="number" class="form-control" name="productsPerPage" value="{{config.productsPerPage}}">
                    <p class="help-block">{{ @root.__ "The number of products to be displayed on each page." }}</p>
                </div>

				
				
                </div>
        </div>
    </div>